<div class="container">
  <h1 class="display-4">About</h1>
  <hr class="my-4">
  <p class="text-justify">
    Queen City Event tracker is a website to track events happening in Charlotte, North Carolina. You can visit our events page to checkout more events happening nearby and decide if you want to join your friends at that event. Checkout the Connections page to Browse available events.
  </p>
  <br>
  For other info you can contact us at <strong>admin@somewebsite.com</strong> or use our <strong>Contact Page.</strong>
</div>

<div class="push"></div>
