  <h1 class="display-4">Hola {{ title }}</h1>
  <p class="lead">Welcome to Queen City Events Log.</p>
  <hr class="my-4">
  <p class="text-justify">
    Attend or create Events happening in Charlotte Queen City to connect with people with the same taste as you. Wheather you are looking for a Bar Hop Night, or a company for a Rock Concert happening nearby, meet new people, trying to socialize with people having same interests a you, then this is the place to be.
    <br><br>
    Checkout the Connections page to Browse available events.</p>
